


<include file="Common/header" />
           
        
        <div id="page-wrapper">
        <div class="graphs">	  
    <div class="content_bottom">
     <div class="col-md-12 span_3">
		  <div class="bs-example1" data-example-id="contextual-table">
			  <h3>信息列表  <a href="__ROOT__/index.php/Admin/Message/addmsg">发送信息</a> </h3>
			  <form class="form-horizontal" action="" method="get" enctype="multipart/form-data">
				  <div class="form-group">
					  用户电话 <input type="text" name="uid" style="width: 150px" value="" id="focusedinput" placeholder="">
					  日期 <input type="date" name="mindate" style="width: 150px" value="" id="focusedinput" placeholder="">
					  <input type="date" name="maxdate" style="width: 150px" value="" id="focusedinput" placeholder="">
					  类型<select style="width: 150px" name="type">
					  <option value="0">全部</option>
					  <option value="1">未读</option>
					  <option value="2">已读</option>
				  </select>

				  </div>

				  <div class="col-sm-2">
					  <p class="help-block"></p>
				  </div>

				  <p style="margin-left: 200px;margin-top: 20px;"></p><button class="btn-success btn">Submit</button>
			  </form>
		    <table class="table">
		      <thead>

		        <tr style="text-align: center;">

		        </tr>
		        <tr>
		          <th>发送者</th>
					<th>发送者电话</th>
					<th>接受者</th>
		          <th>接受者电话</th>
				  <th>内容</th>
				 <th>发送时间</th>
				  <th>信息状态</th>
					<th>操作</th>
		        </tr>
		      </thead>
		      <tbody>	      
		      <?php 
		      		$i = 1;
		      	?>
		      <foreach name="users" item='v'>
		      
		      	<?php 
		      		if(($i%2)==1){
						echo "<tr class='active'>";
					}else{
						echo "<tr class='info'>";
					}
		      	?>
		          <th scope="row">{$v.f_user_name}</th>
				  <th>{$v.f_user_phone}</th>
				  <th>{$v.to_user_name}</th>
		           <th>{$v.to_user_phone}</th>
				  <th>{$v.message}</th>
				  <th>{$v.addtime}</th>
				  <td><if condition="$v.state eq 1"> 未读<elseif condition="$v.state eq 2"/>已读 </if></td>
				  <th><a href="__ROOT__/index.php/Admin/Message/deletemsg/id/{$v.id}">删 除 </a></th>
		        </tr>
		      	<?php $i++ ;?>
		       </foreach>		      
		      </tbody>
		    </table>
		   </div>
	   </div>
		<div class="clearfix"> </div>
	    </div>
		<div class="copy">
            <p>Copyright &copy; 2016  All rights reserved.</p>
	    </div>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__ROOT__/Public/admin/js/bootstrap.min.js"></script>
</body>
</html>
