<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/fontSize.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/index.js?v=12"></script>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css?v=2">
	<title>酒模式</title>
</head>
<body class="indexBg">
<ul class="lands">
	<foreach name="land" item='v'>
	<li class="land land{$v.num}" style="background: url(__ROOT__/Public/Home/img/p_<?php if($v['ishei'] ==1){echo 1;}else{echo 2;} ?>.png) no-repeat;" data-land="{$v.num}">
		<if condition="$v.state eq 1">
			<img src="__ROOT__/Public/Home/img/p_3.png" alt="" class="jiuTong">
			<span class="application">{$v.out}</span>
		</if>
	</li>
	</foreach>

</ul>
<ul class="operation">
	<li  class="cangku">
		<img src="__ROOT__/Public/Home/img/tab/cang.png" alt="">
		<span>仓库</span>
	</li>
	<li class="cai" onclick="location.href='cashDetail.html'">
		<img src="__ROOT__/Public/Home/img/tab/shouhuo.png" alt="">
		<span>明细</span>
	</li>
	<!-- <li onclick="location.href='friend.html';">
        <img src="__ROOT__/Public/Home/img/tab/friend.png" alt="" class="">
        <span>好友</span>
    </li> -->
	<li class="store" id="store">
		<img src="__ROOT__/Public/Home/img/tab/shop1.png" alt="">
		<span>商店</span>
	</li>
	<li class="store" onclick="location.href='__ROOT__/index.php/Home/Message/mailBox.html'">
		<img src="__ROOT__/Public/Home/img/tab/mail.png" alt="">
		<span>邮箱</span>
	</li>
	<li onclick="location.href='__ROOT__/index.php/Home/User/my.html';">
		<img src="__ROOT__/Public/Home/img/tab/my.png" alt="" class="">
		<span>我的</span>
	</li>
</ul>

<!-- 商店弹窗 -->
<div class="shadow_mask" id="shopShow">
	<div class="model"></div>
	<div class="maskContent" id="shopMask">
		<div class="main_pop_head">
			<span class="main_return"></span>
			<span>商店</span>
			<img src="__ROOT__/Public/Home/img/x.png" alt="" class="closeImg">
		</div>

		<foreach name="productlist" item='v'>
		<ul class="maskList">
			<li>
				<img src="{$v.pic}" alt="">
				<ul>
					<li>{$v.name}：{$v.cont}</li>
					<li>￥{$v.price}</li>
				</ul>
				<span class="buySpan" data-money="{$v.price}" data-id="{$v.id}" data-kucun="{$v.left}" data-yunfei="{$v.daycome}">购买</span>
			</li>
		</ul>
		</foreach>
	</div>
	<!-- 购买弹窗 -->
	<div class="maskContent hidden" id="shopMask1">
		<div class="main_pop_head">
			<img src="__ROOT__/Public/Home/img/return.png" alt="" class="returnImg">
			<span>确认购买</span>
			<img src="__ROOT__/Public/Home/img/x.png" alt="" class="closeImg">
		</div>
		<form action="__ROOT__/index.php/Home/Index/buyProduct" method="post"  enctype="multipart/form-data">
			<input type="hidden" name="goodsMoney" id="goodsMoney">
			<input type="hidden" name="goodsId" id="goodsId">
			<input type="hidden" name="goodsYun" id="goodsYun">
			<ul>
				<li class="main_com_li">
					<span class="main_com_li_left">库存:</span>
					<input type="text" id="kuncun" name="kucun" disabled="disabled" value="500">
				</li>
				<li class="main_com_li">
					<span class="main_com_li_left">购买数量:</span>
					<input type="number" name="num" value="1" id="buy_num">
				</li>
			</ul>
			<button type="button" class="shippAddress">填写收货地址</button>
			<button type="submit" class="confirm">确认购买</button>
		</form>
	</div>
	<!-- 购买弹窗end -->

	<!-- 收货地址弹窗 -->
	<div class="maskContent" id="adressMask">
		<div class="main_pop_head">
			<img src="__ROOT__/Public/Home/img/return.png" alt="" class="returnImg">
			<span>填写收货地址</span>
			<img src="__ROOT__/Public/Home/img/x.png" alt="" class="closeImg">
		</div>
		<form action="__ROOT__/index.php/Home/Index/buyProduct"  method="post"  enctype="multipart/form-data">
			<input type="hidden" name="goodsMoney" id="goodsMoney1">
			<input type="hidden" name="goodsId" id="goodsId1">

			<input type="hidden" name="kucun" id="kucun1">
            <input type="hidden" name="num" id="buy_num1">
			<ul>
				<li class="main_com_li">
					<span class="main_com_li_left">收货人地址:</span>
					<input type="text" name="addr">
				</li>
				<li class="main_com_li">
					<span class="main_com_li_left">收货人姓名:</span>
					<input type="text" name="username">
				</li>
				<li class="main_com_li">
					<span class="main_com_li_left">收货人电话:</span>
					<input type="text" name="tel">
				</li>
				<li class="main_com_li">
					<span class="main_com_li_left">当前运费:</span>
					<input type="text" name="yunfei" value="" disabled="disabled" id="goodsYun1">
				</li>
				<li class="main_com_li">
					<span class="main_com_li_left">邮编:</span>
					<input type="text" name="youbian">
				</li>
				<div class="code_tip">请扫描下方二维码支付运费</div>
				<img src="__ROOT__/Public/Home/img/code.jpg" alt="" class="codeimg">
			</ul>

			<button type="submit" class="confirm">确认购买</button>
		</form>
	</div>
	<!-- 收货地址弹窗end -->

</div>
<!-- 商店弹窗end -->








<!-- 仓库弹窗 -->
<div class="shadow_mask" id="houseShow">
	<div class="model"></div>
	<div class="houseContent">
		<div class="main_pop_head">
			<span class="main_return"></span>
			<span>仓库</span>
			<img src="__ROOT__/Public/Home/img/x.png" alt="" class="closeImg">
		</div>
		<ul class="maskList">
			<li>
				<img src="__ROOT__/Public/Home/img/p_3.png" alt="">
				<ul>
					<li>酒窖：酿酒必备工具</li>
					<li>数量：{$diproduct}</li>
				</ul>
				<span class="useSpan" data-id="1">使用</span>
			</li>
			<li>
				<img src="__ROOT__/Public/Home/img/p_4.png" alt="">
				<ul>
					<li>小麦：酿酒</li>
					<li>数量：{$username.jingbag}</li>
				</ul>
				<span class="useSpan" data-id="2">使用</span>
			</li>

		</ul>
	</div>
</div>
<!-- 仓库弹窗 -->
<!-- 仓库弹窗 -->
<div class="shadow_mask" id="houseShow1">
	<div class="model"></div>
	<div class="houseContent">
		<div class="main_pop_head">
			<span class="main_return"></span>
			<span>仓库</span>
			<img src="__ROOT__/Public/Home/img/x.png" alt="" class="closeImg">
		</div>
		<ul class="maskList">
			<li>
				<img src="__ROOT__/Public/Home/img/p_3.png" alt="">
				<ul>
					<li>酒桶：酿酒</li>
					<li>数量：{$diproduct}</li>
				</ul>
				<span class="useSpan" data-id="1">使用</span>
			</li>
			<li>
				<img src="__ROOT__/Public/Home/img/p_4.png" alt="">
				<ul>
					<li>小麦：对对对</li>
					<li>数量：{$username.jingbag}</li>
				</ul>
				<span class="useSpan" data-id="2">使用</span>
			</li>
		</ul>
	</div>
</div>
<input type="hidden" id="landId">
<!-- 仓库弹窗 -->
<script type="text/javascript">
    $('body').height($(window).height());

</script>
</body>
</html>