<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/aui.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/fontSize.js"></script>
</head>
<body>
	 <header class="mui-bar mui-bar-nav">
	  <a class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>
	  <h1 class="mui-title">个人中心</h1>
	</header>
	<div class="mui-content">
		<ul class="mui-table-view">
			<li class="mui-table-view-cell">
				 会员账号
				<span class="fr">{$username.tel}</span>
			</li>
			<li class="mui-table-view-cell">
				姓名
				<span class="fr">{$username.name}</span>
			</li>
			<li class="mui-table-view-cell">
				手机号
				<span class="fr">{$username.tel}</span>
			</li>
			<li class="mui-table-view-cell">
				酒
				<span class="fr">{$username.jiu}</span>
			</li>
			<li class="mui-table-view-cell">
				小麦
				<span class="fr">{$username.jingbag}</span>
			</li>
			<li class="mui-table-view-cell">
				酒票
				<span class="fr">{$username.chargebag}</span>
			</li>
			<li class="mui-table-view-cell">
				激活票
				<span class="fr">{$username.dongbag}</span>
			</li>
		    <li class="mui-table-view-cell">
			    <a class="mui-navigate-right" href="deal.html">
			     转账交易
			    </a>
		    </li>
		    <li class="mui-table-view-cell">
			    <a class="mui-navigate-right" href="group.html">
			    我的下级
			    </a>
		    </li>
		     <li class="mui-table-view-cell">
			    <a class="mui-navigate-right" href="reg.html">
			    注册新用户
			    </a>
		    </li>
		    <li class="mui-table-view-cell">
			    <a class="mui-navigate-right" href="convert.html">
			       酒兑换酒票
			    </a>
		    </li>
			<li class="mui-table-view-cell">
				<a class="mui-navigate-right" href="__ROOT__/index.php/Home/Login/login">
					退出
				</a>
			</li>
		</ul>

	</div>
</body>
</html>